.accordion-item {
    border-right: none;
    border-left: none;
}

.accordion-button:not(.collapsed) {
    &:focus,
    &:active {
        box-shadow: none;
        border-bottom: $accordion-border-width solid $accordion-border-color;
    }
}