.announcement-bar__timer {

    .list-inline-item {
        @media (max-width: 1259.98px) {
            font-size: calc-em(20);
            line-height: calc-em(20);
        }
        &:not(:first-child) {
            &:before {
                content: ':';
                position: absolute;
                left: -15px;
            }
        }

        span {
            display: block;
            font-size: calc-em(9);
            font-weight: normal;
            line-height: 1.25;

            @screen lg {
                font-size: calc-em(10);
            }
        }
    }
}

.announcement-bar {
    &__marquee {
		transform: initial;
		height: calc-em(32);
	}

    &__content {
		position: absolute;
		white-space: nowrap;
		will-change: transform;
		animation: marquee 60s linear infinite;
		top: calc-em(3);
		&:hover {
			animation-play-state: paused;
		}
		span {
			padding-left: calc-em(112);
			padding-right: calc-em(112);
		}
	}
}

@keyframes marquee {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-50%);
	}
}

@media (max-width: 991.98px) {
	.timer-bar--show header:not(.header--scrolled) {
		.dropdown--account .dropdown-menu {
			top: 7.28125em;
		}
	}
}
