@layer components {
	.btn {
		@apply inline-block align-middle text-center select-none
				border font-bold py-[9px] px-[28px] leading-base;

		&-lg {
			@apply border-2 py-[13px] px-[54px] leading-base;
		}

		&-primary {
			@apply bg-primary text-white hover:bg-primary-dark;
		}

		&-outline-primary {
			@apply bg-white border border-primary hover:bg-primary hover:text-white text-primary;
		}

		&-sm {
			@apply sm:py-[.3125em] lg:py-g;
		}
	}
}
