@layer components {
	.carousel {

		&__container {
			backface-visibility: hidden;
		}

		&__slide {
			flex: 0 0 100%;
			min-width: 0;
		}

		&__button--half-rounded {
			box-shadow: 0 .25em .25em rgba(0,0,0,0.2);
		}

		&__dots li {
			@apply box-content mr-[3px] ml-[3px] w-[.75rem] h-[.75rem] cursor-pointer bg-clip-padding transition-opacity duration-[600ms] rounded-full;
		}

		&__dot {
			@apply appearance-none touch-manipulation w-full h-full indent-[-999px];
		}

		&__lazy-load__spinner {
			animation: loading 1.1s infinite linear;
		}

		&__lazy-load__img {
			@apply opacity-0 transition-opacity duration-200 ease-in-out;
		}
		&__lazy-load--has-loaded .carousel__lazy-load__img {
			@apply opacity-100;
		}

		@keyframes loading {
			0% {
				transform: rotate(0deg);
			}
			100% {
				transform: rotate(360deg);
			}
		}
	}
}
