@layer components {
	.modal-backdrop {
		@apply bg-black bg-opacity-50;
	}

	.modal-sm {
		@apply max-w-[300px];
	}

	.modal {
		@apply max-w-[500px];
	}

	.modal-lg {
		@apply max-w-[720px];
	}

	.modal-xl {
		@apply max-w-[1140px];
	}

	.modal-content {
		@apply rounded-[1.25rem] overflow-hidden relative border-0;
	}

	.modal-dialog-centered {
		@apply min-h-[calc(100%-3.5rem)] flex items-center my-[1.75rem];
	}

	.modal__variant {
		.modal-content {
			@apply rounded-[.5rem]
		}

		.modal-body {
			background-image: url('https://cdn.shopify.com/s/files/1/0286/1327/9779/files/public_06dc6c44-59dc-46f0-a96e-6636a305eec0.jpg?v=1772038990');
			background-position: bottom -1px center;
			background-repeat: no-repeat;
			background-size: 100%;

			@screen lg {
				background-image: url('https://cdn.shopify.com/s/files/1/0286/1327/9779/files/public_591e61b2-f4c8-4d6e-83bb-25bbfe22b0bc.jpg?v=1772039010');
			}
		}
	}

}
