.variant-swatch {
	flex-shrink: 0;
	width: calc-em(40);
	height: calc-em(40);
	border-radius: 50%;
	background-color: white;
	background-size: calc-em(30);
	position: relative;
	margin-left: 0;
	margin-right: 0;

	&:hover {
		cursor: pointer;
	}

	&.oos:after {
		content: '';
		height: 1px;
		@apply bg-primary;
		position: absolute;
		left: 0;
		right: 0;
		top: 50%;
		transform: rotate(-45deg) translateY(-50%);
	}

	&:before {
		content: ' ';
		position: absolute;
		width: calc-em(30);
		height: calc-em(30);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		top: calc-em(3);
		left: calc-em(3);
		margin: auto;
		border-radius: 50%;
	}

	&--lg {
		width: calc-em(40);
		height: calc-em(40);

		&:before {
			width: calc-em(30);
			height: calc-em(30);
		}
	}


	&.custom-control-label {
		&::before,
		&::after {
			content: none;
		}
	}

	.custom-control-input:checked ~ & {
		@apply border-primary;
	}

	&.small {
		&, &::before {
			width: calc-em(10, $unit: 1rem);
			height: calc-em(10, $unit: 1rem);
			background-size: calc-em(10, $unit: 1rem) calc-em(10, $unit: 1rem);
			top: 0;
			left: 0;
		}
	}

	&__new-tag {
		left: 50%;
		bottom: 0;
		transform: translate(-50%, 50%);
	}

	&:focus {
		outline: none; // to remove focus border on button
	}

	&.medium:before {
		@apply bg-medium;
	}

	&.dark:before {
		@apply bg-shade-dark;
	}

	&.ultra-dark:before {
		@apply bg-ultra-dark;
	}

	&.girl-print-limited-edition,
	&.girl-print {
		&:before {
			background-image: url('https://cdn.shopify.com/s/files/1/0286/1327/9779/files/public_7a665a30-9464-4eda-a976-24030dbaf609.svg?v=1772039031');
		}
	}
	&.leaf-print {
		&:before {
			background-image: url('https://cdn.shopify.com/s/files/1/0286/1327/9779/files/public_a51c4d39-e474-4876-98ad-14c3d9123fae.svg?v=1772039051');
		}
	}

	&.green,
	&.grun {
		&:before {
			background-image: url('https://cdn.shopify.com/s/files/1/0286/1327/9779/files/public_bed4fb6a-b762-4163-b6ef-327017d21b7e.svg?v=1772039077');
		}
	}
	&.pool-print-limited-edition,
	&.pool-print {
		&:before {
			background-image: url('https://cdn.shopify.com/s/files/1/0286/1327/9779/files/public_5a5e3874-3b92-4c90-b7ea-535194687923.svg?v=1772039102');
			transform: rotate(10deg);
		}
	}
	&.tropical-mango,
	&.sweet-mango {
		&:before {
			background-image: url('https://cdn.shopify.com/s/files/1/0286/1327/9779/files/public_c70738f1-540a-4ac6-ad4d-63701423f131.svg?v=1772039122');
		}
	}
	&.lychee-dragonfruit {
		&:before {
			background-image: url('https://cdn.shopify.com/s/files/1/0286/1327/9779/files/public_86198c2b-451e-4e5f-ab27-dc0341b7f8c3.svg?v=1772039145');
		}
	}
	&.mini-comb {
		&:before {
			background-image: url('https://cdn.shopify.com/s/files/1/0286/1327/9779/files/public_771ba6c2-4582-4b24-b878-78c059924dc5.svg?v=1772039163');
		}
	}
	&.shampoo-brush {
		&:before {
			background-image: url('https://cdn.shopify.com/s/files/1/0286/1327/9779/files/public_3328fc33-df82-4e23-8716-5930119c625b.svg?v=1772039183');
		}
	}
	&.tangle-tamer {
		&:before {
			background-image: url('https://cdn.shopify.com/s/files/1/0286/1327/9779/files/public_beb881db-a28e-4532-bbe8-0e126065b247.svg?v=1772039204');
		}
	}
	&.hot-pink {
		&:before {
			background-color: #D62E55;
		}
	}
	&.powder-pink {
		&:before {
			background-color: #F5DADF;
		}
	}
	&.with-tangle-tamer {
		&:before {
			background-image: url('https://cdn.shopify.com/s/files/1/0286/1327/9779/files/public_6636e923-9bd5-4fb8-98d3-11402e674776.png?v=1772039227');
		}
	}
	&.without-tangle-tamer {
		&:before {
			background-image: url('https://cdn.shopify.com/s/files/1/0286/1327/9779/files/public_543bbf0e-dab4-43b1-b4d1-c4aa2f76165d.png?v=1772039246');
		}
	}
	&.antioxidant-glow-cream-refill-pod,
	&.antioxidant-glow-cream-\+-refill-pod {
		&:before {
			background-image: url('https://cdn.shopify.com/s/files/1/0286/1327/9779/files/86x.jpg?v=1772039278');
		}
	}
	&.refill-pod {
		&:before {
			background-image: url('https://cdn.shopify.com/s/files/1/0286/1327/9779/files/86x_c92831d7-6c9e-4195-a81e-a049c752722e.jpg?v=1772039297');
		}
	}
	&.antioxidant-glow-cream {
		&:before {
			background-image: url('https://cdn.shopify.com/s/files/1/0286/1327/9779/files/86x_2e0d0fd2-0d7c-42aa-a993-407a4164e0d2.jpg?v=1772039316');
		}
	}
}

.swatch-overlay {
	opacity: 0;
	visibility: hidden;
	width: calc(100% - 20px);
	transition: all 300ms ease-in-out;

	.button-overlay {
		width: calc(100% + 2px);
		margin-left: -1px;
		margin-bottom: -26px;
	}

	.product-upsell-2 & {
		max-width: 13.5em;
		@apply sm:w-[164px] md:w-[216px] bottom-2;

		.button-overlay {
			@apply mb-0;
			max-width: calc(13.5em + 2px);
		}

		.btn-choose:hover {
			opacity:0;
		}
	}
}

.btn-choose {
	width: calc(100%);

	.product-upsell-2 & {
		max-width: calc(13.5em + 2px);
	}
}

.btn-choose:hover + .swatch-overlay,
.swatch-overlay:hover {
	visibility: visible;
	opacity: 1;
}
