// Grid
$grid-gutter-width: 15px;
$grid-gutter-width-lg: 30px;

$grid-breakpoints: (
  xs: 0,
  sm: 375px,
  md: 768px,
  lg: 992px,
  xl: 1260px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1200px
);

$spacer: calc-em(20, $unit: 1rem);
$spacers: (
  1: $spacer * 0.5,   // 10
  2: $spacer * 1,     // 20
  3: $spacer * 1.5,   // 30
  4: $spacer * 2,     // 40
  g: $grid-gutter-width,
);

// Typography
$font-family-sans-serif: "sofia-pro", "Helvetica Neue", Arial, sans-serif;

$line-height-base: calc-em(20, $context: 16, $unit: 1);
$line-height-lg: $line-height-base;
$line-height-sm: calc-em(17, $context: 14, $unit: 1);

$headings-font-weight: 700;
$headings-line-height: $line-height-base;

$font-size-base: calc-em(16);
$font-size-xs: calc-em(12);
$h1-font-size: calc-em(32);
$h2-font-size: calc-em(24);
$h3-font-size: calc-em(16);
$h4-font-size: calc-em(16);

$h1-font-size-lg: calc-em(32);
$h2-font-size-lg: calc-em(20);
$h3-font-size-lg: calc-em(16);
$h4-font-size-lg: calc-em(20);

$hero-banner-font-size: calc-em(32);
$hero-banner-font-size-lg: calc-em(72);
$playground-font-size: calc-em(52);