.birthday-popup {
    .modal-content {
        background-color: $primary-light-second;
    }

    .close {
        top: 1em;
        right: 1em;
        opacity: 1;
        z-index: $zindex-sticky;
        background-color: transparent;
        border: 0;
    }

    .svg { 
        height: calc-em(26);
    }
}