.product-card {

	.product-title__text {
		@apply mx-0;
	}

	.review-stars__number {

		svg {
			@apply w-[14px] h-[14px] ml-[4px];

			&:first-child {
				@apply ml-0;
			}
		}

		.review-star__v1 {
			@apply flex;
		}

		.review-star__v2 {
			@apply hidden;
		}
	}

	button {
		&:not(.button-overlay) {

			@screen lg {
				@apply w-full mb-0;
			}

			@screem sm {
				@apply mb-[8px];
			}
		}

		@screen sm {
			@apply flex-row max-h-[38px] w-full;

			.product-card-btn__text,
			.product-card-btn__prices {
				@apply h-full items-center text-sm;
			}

			.product-card-btn__text {
				@apply whitespace-nowrap;
			}
		}

		@screen lg {
			@apply max-h-[none] min-h-[50px];

			.product-card-btn__text,
			.product-card-btn__prices {
				@apply top-auto text-base;
			}
		}
	}

	.swatch-overlay {
		@screen lg {
			@apply left-0 right-0 bottom-[1.25rem];

			.button-overlay {
				margin-bottom: -21px;
			}
		}
	}
}

@screen lg {
	.collection-lg-order {
		order: var(--lg-order);
	}
}