.product-variant {

	.custom-control-label {
		padding-left: 2em;
		@screen lg {
			padding-left: calc-em(69, $unit: 1rem);
		}
		&::before {
			background: #fff;
			border: #A3A3A3 solid 1px;
			top: 0;
			left: 0;
			@screen lg {
				top: calc-em(20, $unit: 1rem);
				left: calc-em(24, $unit: 1rem);
			}
		}

		.svg {
			height: calc-em(16, $unit: 1rem);
		}
	}

	.custom-control-input:checked ~ .custom-control-label::before {
		color: #fff;
		border-color: #D62E55;
		background-color: #D62E55;
	}

	.product-swatch,
	&__note {
		display: none;
	}

	.custom-control-input {
		&:not(:disabled):active ~ .custom-control-label::before {
			background-color: #fff;
		}

		&:checked:active ~ .custom-control-label::before {
			@apply bg-primary border-primary;
		}

		~ .custom-control-label .product-variant__description {
			display: none;
		}

		&:checked ~ .custom-control-label {
			@apply border-primary;
			.product-swatch,
			.product-variant__note {
				display: block;
			}

			.product-variant__description {
				display: block;
			}
		}
	}

	&--subscription-selected {
		.custom-control-input:checked ~ .custom-control-label {
			@apply bg-primary-light-second;
		}

		.product-variant__title {
			display: none;

			&-subscription {
				display: block !important;
			}
		}
	}
}
