@layer components {
	.product-variant {
		@apply w-full relative;

		.custom-control-label {
			@apply border-0 lg:border lg:border-gray-600 inline-block p-0 pl-[2em] lg:pl-[4.313em]
				relative mb-0 align-top  w-full lg:pb-2 lg:pr-2 rounded before:top-0;

			&::before {
				@apply absolute block w-[1.25em] h-[1.25em] pointer-events-none bg-white
					top-0 left-0 border border-gray-500 rounded-full content-['']
					transition-all duration-150 ease-in-out;
				@screen lg {
					@apply top-[1.25rem] left-[1.5rem];
				}
			}

			&::after {
				@apply absolute top-0 -left-[1.75em] block w-[1.25em] h-[1.25em] content-['']
					bg-no-repeat bg-[length:50%_50%] bg-[50%_center];
			}
		}

		.product-swatch,
		&__note {
			@apply hidden;
		}

		&__saving {
			@apply bg-primary text-white rounded font-normal font-size-sm px-1 inline-block lg:hidden py-[2px];
		}

		.custom-control-input {

			@apply absolute left-0 -z-[1] w-2 h-2 opacity-0;

			&:not(:disabled):active ~ .custom-control-label::before {
				@apply bg-white;
			}

			&:checked:active ~ .custom-control-label::before {
				@apply bg-primary border-primary;
			}

			~ .custom-control-label .product-variant__description {
				@apply hidden;
			}

			&:checked ~ .custom-control-label {
				@apply border-primary;

				&::before {
					@apply text-white border-primary bg-primary;
				}
				.product-swatch,
				.product-variant__note,
				.product-variant__description {
					@apply block;
				}
			}
		}

		&--subscription-selected {
			.custom-control-input:checked ~ .custom-control-label {
				@apply bg-primary-light-second;
			}

			.product-variant__title {
				@apply hidden;

				&-subscription {
					@apply block;
				}
			}
		}


	}

}
