@layer components {
	.upsell {
		@apply bg-white;
	
		picture {
			width: 4.5em;
		}

		figcaption {
			margin-left: calc-em(16);
			padding: .625em 0;
			@screen lg {
				margin-left: calc-em(8);
			}
			@apply text-sm
		}

		&__title {
			@apply text-body-color;
			margin-top: auto;
			font-weight: 600;
			margin-bottom: calc-em(7);
			@screen lg {
				margin-bottom: calc-em(2);
			}
		}

		&__price {
			@screen md {
				margin-bottom: calc-em(7, 14);
				@apply text-sm;
			}

			.compare {
				text-decoration: line-through;
			}
		}

		.svg {
			font-size: calc-em(30);
		}

		&__atc-text {
			font-size: calc-em(12);
			margin-top: calc-em(2, 12);
			text-decoration: underline;
			@apply text-body-color;
		}
	}

	.product-upsell-2 {

		picture::before {
			display: block;
			content: "";
		}
	
		.ratio-1x1::before {
			padding-top: 100%;
		}

		@screen lg {
			.item-third {
				&:first-child {
					padding-left: 0;
					margin-right: 7.5px;
				}
        	}
		}
	}
}

.product-upsell {

	&__title {
		@apply text-lg;
		@screen lg {
			font-size: calc-em(24);
		}
	}
}
