@layer components {
	.cart-drawer {
		.close {
			padding-top: 1.5625rem;
		}

		.variant-swatch {
			@apply border border-2 border-primary;
		}

		.manual-gwp {
			&__container {
				overflow: hidden;
				scroll-behavior: smooth;
			}

			&__left,
			&__right {
				top: 0;
			}
			&__left { right: 2em; }
			&__right { right: 0.5em; }

			&__item {
				flex: 0 0 calc-em(96);
				width: calc-em(96);

				picture {
					@apply px-hg;
				}

				figcaption {
					@apply text-xs;
					padding: .3125rem;
				}

				button {
					&:focus,
					&:active {
						box-shadow: none !important;
					}
				}
			}
		}

		&__form {
			@apply pb-[200px];
		}

		&__discount-form {
			.field {
				padding: .875em 1em;
				height: 3.125rem;
			}
		}

		.banner-decoration {
			top: 0;
			right: -10px;
			height: 100%;
			@apply text-primary-light;
		}
	}
}

// .cart-drawer {
// 	z-index: $zindex-tooltip;

// 	.show-modal-klarna & {
// 		z-index: 1;
// 	}

// 	.modal-dialog {
// 		max-width: calc-em(430);
// 		margin: 0;
// 		float: right;
// 		width: 100%;
// 		max-height: 100% !important;
// 	}

// 	.modal-content {
// 		border: none;
// 		box-shadow: none;
// 		max-height: 100%;
//     	overflow: hidden;
// 	}

// 	.modal-body {
// 		overflow-y: auto;
// 	}

// 	.modal-dialog, .modal-content {
// 		height: 100%;
// 	}

// 	&:not(.show) .modal-dialog {
// 		transform: translate(100%, 0);
// 	}

// 	.close {
// 		top: 0;
// 		right: 0;
// 		font-size: $font-size-base;
// 		outline: none;
// 		opacity: 1;
// 		padding-top: map-get($spacers, 2) + map-get($spacers, 1) / 2;
// 		background-color: transparent;
// 		border: none;
// 	}

// 	.progress {
// 		height: 5px;
// 	}

// 	hr {
// 		border-color: $border-color;
// 	}

// 	&__shopify-icon {
// 		&:before,
// 		&:after {
// 			content: '';
// 			width: 25%;
// 			border-bottom: $border-width solid $border-color;
// 		}
// 	}

// 	&__discount-toggle:after {
// 		content: "\a0-";
// 		display: inline-block;
// 		text-decoration: inherit;
// 	}

// 	&__discount-toggle.collapsed:after {
// 		content: "\a0+";
// 	}

// 	&__services .svg {
// 		font-size: calc-em(50);
// 		margin-bottom: map-get($spacers, 1) / 2;
// 	}

// 	.modal-footer > * {
// 		margin: 0;
// 	}

// 	&__swell-redemption {
// 		button svg path {
// 			fill: $primary;
// 		}
// 	}

// 	&__swell-redemption-item {
// 		min-width: calc-em(141);

// 		&-btn {
// 			border-radius: calc-em(84);
// 			height: calc-em(40);
// 			border-color: $body-color !important;

// 			&:disabled {
// 				opacity: .4;
// 			}
// 		}

// 		&-heading {
// 			max-height: calc-em(101);
// 		}

// 		picture {
// 			background-color: $pink-product;
// 			border-top-right-radius: $border-radius-lg;
// 			border-top-left-radius: $border-radius-lg;
// 		}
// 	}

// 	&__items-tip {
// 		background-color: $body-color;
// 	}

// 	.progress-bar {
// 		display: flex;
// 		flex-direction: column;
// 		justify-content: center;
// 		overflow: hidden;
// 		color: #fff;
// 		text-align: center;
// 		white-space: nowrap;
// 		background-color: #D62E55;
// 		transition: width 0.6s ease;
// 	}
// }

// .cart-table {
// 	&__item img {
// 		max-width: calc-em(170);
// 	}
// 	.variant-swatch:before {
// 		cursor: auto;
// 	}
// }
