.product__carousel {

    &-nav li button {
        @apply font-normal w-auto text-base items-center px-2 text-gray-600 py-25 lg:py-1 lg:leading-[25px];
    }

    &-nav li .nav--active {
        
        @apply text-body lg:bg-body lg:text-white lg:focus:text-white lg:visited:text-white lg:hover:text-white relative;        
        
        &:after {
            height: 2px;
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #151515;
            content: '';

            @screen lg {
                content: none;
            }
        }
    }

    &-nav li .nav--dark {
        @apply bg-dark text-white font-normal focus:text-white visited:text-white hover:text-white;
    }
}