@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'core/fonts';
@import 'core/type';

@layer base {
	a {
		@apply text-primary text-base hover:underline hover:text-primary-darken cursor-pointer;
	}

	p, div {
		@apply leading-tight; // set to 1.25 instead to use 1.25rem leading-base
	}
}

@layer utilities {
	.prevent-selection {
		-webkit-user-select: none; /* Safari */
		-ms-user-select: none; /* IE 10 and IE 11 */
  		user-select: none;
	}

	.no-underline {
		text-decoration: none;
	}
	.spinner-border {
		display: inline-block;
		width: 1.9rem;
		height: 1.9rem;
		vertical-align: -.125em;
		border: .25em solid currentcolor;
		border-right-color: transparent;
		border-radius: 50%;
		-webkit-animation: .75s linear infinite spinner-border;
		@apply animate-spin
	}
	.embed-responsive {
		@apply relative block w-full p-0 overflow-hidden;

		&:before {
			@apply block content-[''];
		}

		&-item {
			@apply absolute top-0 bottom-0 left-0 right-0 w-full h-full border-0;
		}

		.fit--cover {
			@apply object-cover;
		}
	}
	.search-panel-active:before {
		@apply content-[''] h-full bg-[#000] z-[1020] w-full opacity-50 fixed;
	}
	.polygon-path {
		-webkit-clip-path: polygon(100% 0%,0 50%,100% 55%);
		clip-path: polygon(100% 0%,0 50%,100% 55%);
	}

	.text-underline {
		@apply underline;
	}
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	
	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none;  /* IE and Edge */
		scrollbar-width: none;  /* Firefox */
	}
	.small-scrollbar::-webkit-scrollbar {
		width: 4px;
	}
	.small-scrollbar::-webkit-scrollbar-track {
		box-shadow: inset 0 0 4px #F5F5F5;
		border-radius: 10px;
	}
	.small-scrollbar::-webkit-scrollbar-thumb {
		background: #A3A3A3;
		border-radius: 2px;
	}
}

@layer components {
	.bg-select-arrow {
		background: #fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22.6 22.6'%3e%3cpath d='M1.9 5.4l9.4 9.4 9.4-9.4 1.9 1.9-11.3 11.3L0 7.3l1.9-1.9z'/%3e%3c/svg%3e") right 1em center/1em .5625em no-repeat;
	}

	.custom-radio {
		input[type="radio"]:checked + span:before {
			@apply bg-primary border-primary
		}

		input[type="radio"]:checked + span:after {
			@apply bg-white content-[''] border-primary
		}
	}

	.bg-checkbox-checked {
		background: url('data:image/svg+xml;utf8,<svg role="presentation" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31 25" height="1em"><path fill="%23D62E55" d="M28.82.543c.382-.014.752.14 1.012.421.571.615.604 1.556.076 2.208L12.436 23.97a1.312 1.312 0 01-1.992.072 1.693 1.693 0 01-.167-.21 1.578 1.578 0 01-.138-.127L1.127 14.38a1.621 1.621 0 112.33-2.253l8.058 8.335L27.84 1.04c.239-.3.596-.481.98-.496z"></path></svg>') white;
		background-size: 80%;
		background-repeat: no-repeat;
		background-position: center;
	}
	.bg-checkbox-unchecked {
		background: white;
	}

	.custom-select {
		background: #fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22.6 22.6'%3e%3cpath d='M1.9 5.4l9.4 9.4 9.4-9.4 1.9 1.9-11.3 11.3L0 7.3l1.9-1.9z'/%3e%3c/svg%3e") right 1em center/1em .5625em no-repeat;
	}

	.img--hover {
		@apply opacity-0 invisible;
	}

	.product-card--img:hover .img--hover {
		@apply opacity-100 visible transition-opacity duration-200;
	}

	.affiliate--content-li ul {
		@apply max-w-[85%];
	}

	.affiliate--content-li li {
		@apply text-sm leading-[17px] py-1 lg:py-0 lg:text-[18px] lg:leading-[24px];
		margin-bottom: 0 !important;

		@screen lg {
			margin-bottom: 1.25rem !important;
		}
	}

	@screen lg {
		.affiliate--content-li li:last-child {
			margin-bottom: 0 !important;
		}
	}

	@media (max-width: 768px) {
		.hide-scrollbar {
			-ms-overflow-style: none;
			scrollbar-width: none;
			&::-webkit-scrollbar {
				@apply hidden;
			}
		}
	}

	@screen lg {
		.hide-scrollbar {
			-ms-overflow-style: thin;
			scrollbar-width: thin;
		}
	}
}

@keyframes gradient-shimmer {
	0%{background-position: 100% 50%}
	100%{background-position: 0% 50%}
}

.bg-shimmer {
	background: #a3a3a3;
	background: linear-gradient(130deg, #a3a3a3 33%, #faf9f9 50%, #a3a3a3 67%);
	background-size: 1000% 1000%;
	animation: gradient-shimmer 2.5s ease infinite;

	img {
		transition: opacity 0.4s linear;
		opacity: 0;
	}

	&--loaded {
		img {
			opacity: 1;
		}
	}
}

.yotpo-widget-loyalty-page {
	svg {
		display: inline;
	}

	.flexified-child.yotpo-outer-tile {
		img {
			display: inline;
		}
	}

	div, p, .yotpo-container-headline, .yotpo-title-text, .yotpo-vip-tier-name, .yotpo-headline, .yotpo-description, .yotpo-redemption-reward {
		line-height: normal;
	}

	.yotpo-vip-current-status-text {
		line-height: 26px;
	}

	input::-webkit-input-placeholder, input::placeholder {
		color: rgb(117, 117, 117);
	}
}

afterpay-placement {
    --messaging-font-size: 0px;
    --logo-badge-width: 120px;
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    opacity: 0;
}

.list-check-li {
	position: relative;
	padding-left: 2.2rem;
	&:before {
		content: url('data:image/svg+xml;utf8,<svg role="presentation" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31 25" height="1em"><path fill="%23D62E55" d="M28.82.543c.382-.014.752.14 1.012.421.571.615.604 1.556.076 2.208L12.436 23.97a1.312 1.312 0 01-1.992.072 1.693 1.693 0 01-.167-.21 1.578 1.578 0 01-.138-.127L1.127 14.38a1.621 1.621 0 112.33-2.253l8.058 8.335L27.84 1.04c.239-.3.596-.481.98-.496z"></path></svg>');
		position: absolute;
		top: 0;
		left: 0;
	}
}

.product-banner__slider-wrapper {
	.img-slider {
		z-index: 9;
		cursor: ew-resize;
		width: 60px;
		height: 100%;
		background-color: transparent;
		opacity: 1;
		border-radius: 50%;

		&:before {
			content: " ";
			border-left: 4px solid #ffffff;
			height: 100%;
			padding-left: -24px;
			position: absolute;
		}

		// .rounded-full {
		// 	padding: 14px 14px;
		// }

		svg {
			height: 12px;
		}
	}
}

// @charset 'UTF-8';

@import 'core/functions';

// @import 'mixins/carousel';
// @import 'bootstrap/core';
