@import 'core';
// @import 'bootstrap/common';
// @import 'bootstrap/main';
// @import 'common';
@import 'components/svgs';
@import 'components/accordion';
@import 'components/modal';
// @import 'components/cookie-banner';
// @import 'components/announcement-bar';
// @import 'components/dropdown';
// @import 'components/video-loop';
// @import 'components/video-loop-gif';
@import 'components/video-card';
// @import 'components/social-icons';
// @import 'components/carousel';
// @import 'components/article-proggress-bar';
// @import 'components/badge';
// @import 'components/list';
// @import 'components/product-subscription';

// @import 'compounds/post-card';
// @import 'compounds/image-with-text';
// @import 'compounds/product-waitlist';
// @import 'compounds/product-banner';
// @import 'compounds/product-variant';
// @import 'compounds/product-card';
// @import 'compounds/shop-article';
// @import 'compounds/product-card-abtest';
// @import 'compounds/product-card-cta-abtest';
// @import 'compounds/result-card';
// @import 'compounds/upsell';
// @import 'compounds/birthday-popup';
// @import 'compounds/exit-intent';
// @import 'compounds/newsletter-popup';
// @import 'compounds/sweepstakes-popup';
// @import 'compounds/cookies-popup';
// @import 'compounds/pdp-upsell';

// @import 'sections/playground';
// @import 'sections/instagram';
// @import 'sections/yotpo-widget';

// @import 'templates/article';
// @import 'templates/blog';
// @import 'templates/collection';
// @import 'templates/stockist';
// @import 'templates/sustainability';
// @import 'templates/sweepstakes';
// @import 'templates/our-story';
// @import 'templates/product';
.carousel__container {
	backface-visibility: hidden;
	margin-left: calc(1rem * -1);
}

.carousel__slide {
	flex: 0 0 100%;
}

.carousel__controls {
	grid-template-columns: auto 1fr;
	gap: 1.2rem;
}

.carousel__buttons {
	grid-template-columns: repeat(2, 1fr);
	gap: 0.6rem;
}

.carousel__button {
	-webkit-appearance: none;
}

.carousel__dot {
	@apply appearance-none bg-transparent touch-manipulation flex cursor-pointer
	w-[2.6rem]
	h-[2.6rem]
	items-center justify-center
	rounded-full
	border
}

.carousel__dot:after {
	@apply w-[1.4rem] h-[1.4rem] rounded-full flex items-center;
	content: '';
}

.carousel__dot--selected:after {
	@apply bg-primary;
}
