@layer components {
	.blog-grid {
		@screen lg {
			display: grid !important;
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: auto auto auto;
			grid-template-areas: "post1 post1 search"
				"post1 post1 sidebar"
				"post2 post3 sidebar"
				"postall postall sidebar";
		}

		&__search {
			grid-area: search;
			input {
				// height: calc(1.21429em + 1.07143em + 2px);
				margin-bottom: 0;
			}
		}

		&__post1 {
			grid-area: post1;
		}

		&__post2 {
			grid-area: post2;
		}

		&__post3 {
			grid-area: post3;
		}

		&__sidebar {
			grid-area: sidebar;
			top: 0;
			z-index: 1;

			aside {
				@screen lg {
					top: 0;
				}
			}
		}

		.nav-link {
			&.active,
			&:hover {
				text-decoration: underline;
			}
		}
	}

	.blog-post-grid {
		@screen lg {
			display: grid !important;
			grid-template-columns: 2fr 1fr;
			grid-template-rows: auto auto;
			grid-template-areas: "content sidebar"
				"comment sidebar";
		}

		&__content {
			grid-area: content;
			.article__content {
				a {
					@apply underline;
				}
				p {
					@apply mb-[1rem];
				}

				h2 {
					@apply mb-1;
				}

				img {
					margin-right: auto !important;
					margin-left: auto !important;;
				}
			}
		
			.ratio-1x1::before {
				display: block;
				content: "";
				padding-top: calc(100% / 1.8461538461538463);
			}
		}

		&__comment {
			grid-area: comment;
		}

		&__sidebar {
			grid-area: sidebar;

			@screen lg {
				top: 0;
			}
		}

		&__recomendation {
			picture {
				padding-top: calc(100% / 828* 420);
			}
		}

		// .blog-post-grid__newsletter {

		// 	.form-control {
		// 		border-radius: $border-radius-lg;
		// 	}

		// 	.input-group-append .btn {
		// 		border-top-right-radius: $border-radius-lg;
		// 		border-bottom-right-radius: $border-radius-lg;
		// 	}
		// }

		&__shop-articles {
			@screen sm {
				.review-stars__number {
					font-size: 0.875em;
				}
			}
		}
	}

	.article-list-wrapper {
		.embed-responsive {
			padding-top: calc(100% / 828* 420);
		}
	}

	.article__content {
		img, iframe {
			max-width: 100%;
		}

		&__banner {
			width: 100%;

			@screen lg {
				width: auto;
			}
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			line-height: 1.25 !important;
			margin-bottom: .625rem;
		}
	}

	// .badge {
	// 	min-width: calc-em(54);
	// }

	.badge-blog a,
	.badge-tag {
		line-height: 1.25em;
    	padding: .125em .5em;
		margin-right: 0.25em;
	}

	.blog-nav-tags {
		margin-bottom: calc-em(50, $unit: 1rem);
		overflow-x: scroll;
		width: auto;

		@screen lg {
			justify-content: center;
		}

		&::-webkit-scrollbar {
			display: none;
		}

		a {
			@apply bg-gray-400;
			border-radius: calc-em(20);
			white-space: nowrap;
			cursor: pointer;
			@apply text-body-color;

			&.active {
				@apply bg-primary;
				@apply text-white;
			}
		}

	}

	// .how-to-wrapper {
	// 	figure svg {
	// 		left: 0;
	// 		right: 0;
	// 		margin: auto;
	// 		top: 0;
	// 		bottom: 0;
	// 		width: calc-em(52);
	// 		height: calc-em(52);

	// 		@screen lg {
	// 			width: calc-em(64);
	// 			height: calc-em(64);
	// 		}
	// 	}

	// 	.list-unstyled figure svg {
	// 		width: calc-em(52);
	// 		height: calc-em(52);
	// 	}
	// }

	.blog-post-quick-links {
		@apply text-body-color;
		border-bottom: 1px solid #000;
		&:hover {
			text-decoration: none;
		}
		& + .blog-post-quick-links {
			&::before {
				content: '|';
				float: none;
				margin: 4px;
			}
		}
	}

	.post-card {
		&__tags a {
			padding: calc-em(4, 12) calc-em(10, 12);
			margin-right: calc-em(4, 12);
		}

		h3 {
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			overflow: hidden;
		}
	}

	

	@screen lg {
		.blog-video-card__title {
			min-height: calc-em(45);
		}
	}

	.embed-responsive-16by9:before {
		display: block;
		content: "";
		padding-top: 56.25%;
	}

	figure {
		margin: 0 0 1rem;
	}

	.blog-carousel__image:before {
		padding-top: 11.125em;
	}
	
	@screen lg {
		.blog-carousel__image:before {
			padding-top: 18.625em;
		}
	}

	// .blog-back-to-top {
	// 	position: fixed;
	// 	bottom: calc-em(20);
	// 	right: calc-em(15);
	// 	cursor: pointer;
	// 	z-index: $zindex-dropdown;
	// 	opacity: 0;
	// 	transition: opacity 0.4s ease-in;
	// 	display: none;

	// 	@screen lg {
	// 		right: calc-em(40);
	// 	}

	// 	&:hover {
	// 		color: $primary;
	// 	}

	// 	&.btn--show {
	// 		opacity: 1;
	// 		display: flex;
	// 	}

	// 	.svg {
	// 		font-size: calc-em(40);
	// 	}
	// }
}