@layer components {
	.blog-grid {
		@screen lg {
			display: grid !important;
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: auto auto auto;
			grid-template-areas: "post1 post1 search"
				"post1 post1 sidebar"
				"post2 post3 sidebar"
				"postall postall sidebar";
		}

		&__search {
			grid-area: search;
			input {
				margin-bottom: 0;
			}
		}

		&__post1 {
			grid-area: post1;
		}

		&__post2 {
			grid-area: post2;
		}

		&__post3 {
			grid-area: post3;
		}

		&__sidebar {
			grid-area: sidebar;
			top: 0;
			z-index: 1;

			aside {
				@screen lg {
					top: 0;
				}
			}
		}

		.nav-link {
			&.active,
			&:hover {
				text-decoration: underline;
			}
		}
	}

	.blog-post-grid {
		@screen lg {
			display: grid !important;
			grid-template-columns: 2fr 1fr;
			grid-template-rows: auto auto;
			grid-template-areas: "content sidebar"
				"comment sidebar";
		}

		&__content {
			grid-area: content;
			.article__content {
				a {
					@apply underline;
				}
				p {
					@apply mb-[1rem];
				}

				h2 {
					@apply mb-1;
				}

				img {
					margin-right: auto !important;
					margin-left: auto !important;;
				}

				.article-list {
					list-style-type: disc;
					padding-inline-start: 40px;
					margin-block-end: 1em;
				}

				.ordered-list {
					list-style: auto;
					padding-inline-start: 40px;
					margin-block-end: 1em;
				}

				.product-variant-swatch li {
					margin-right: 5px;
				}

				.yotpo-start__number {
					font-size: .875rem;
				}
			}
		
			.ratio-1x1::before {
				display: block;
				content: "";
				padding-top: 13.9375em;

				@screen lg {
					padding-top: 25em;
				}
			}
		}

		&__comment {
			grid-area: comment;
		}

		&__sidebar {
			grid-area: sidebar;

			@screen lg {
				top: 0;
			}
		}

		&__recomendation {
			picture {
				padding-top: 10.9375em;
			}
		}

		&__shop-articles {
			@screen sm {
				.review-stars__number {
					font-size: 0.875em;
					svg {
						height: 1em !important;
						width: 1em !important;
					}
				}
			}

			// .product-variant-swatch__item[data-available=""] {
			// 	pointer-events: none;
			// }
		}
	}

	.blog-post__cards {
		.embed-responsive {
			padding-top: 10.9375em;
		}
	}

	// .blog-post__cards figure {
	// 	margin-bottom: 1.25rem;
	// }

	.blog-post__cards .blog-post__card:hover {
		text-decoration: underline !important;
	}

	// .blog-post__cards .blog-card__desc {
	// 	@apply text-body;
	// 	pointer-events: none;
	// }

	.how-to figure {
		margin-bottom: 1rem !important;
	}

	.article__content {
		img, iframe {
			max-width: 100%;
		}

		&__banner {
			width: 100%;

			@screen lg {
				width: auto;
			}
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			line-height: 1.25 !important;
			margin-bottom: .625rem;
		}

		h1 a,
		h2 a,
		h3 a,
		h4 a,
		h5 a,
		h6 a {
			font-size: inherit;
		}

		h1 a span,
		h2 a span,
		h3 a span,
		h4 a span,
		h5 a span,
		h6 a span,
		p a span {
			color: inherit !important;
		}
	}

	.badge-blog a,
	.badge-tag {
		line-height: 1.25em;
    	padding: .125em .5em;
		margin-right: 0.3125em;
		min-width: 3.375em;
	}

	.blog-nav-tags {
		margin-bottom: calc-em(50, $unit: 1rem);
		overflow-x: scroll;
		width: auto;

		@screen lg {
			justify-content: center;
		}

		&::-webkit-scrollbar {
			display: none;
		}

		a {
			@apply bg-gray-400;
			border-radius: calc-em(20);
			white-space: nowrap;
			cursor: pointer;
			@apply text-gray-600;

			&.active {
				@apply bg-primary;
				@apply text-white;
			}
		}

	}

	.blog-post-quick-links {
		@apply text-body-color;
		border-bottom: 1px solid #000;
		&:hover {
			text-decoration: none;
		}
		& + .blog-post-quick-links {
			&::before {
				content: '|';
				float: none;
				margin: 4px;
			}
		}
	}

	.post-card {
		&__tags a {
			padding: calc-em(4, 12) calc-em(10, 12);
			margin-right: calc-em(4, 12);
		}

		h3 {
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			overflow: hidden;
		}
	}

	

	
	.blog-video-card__title {
		min-height: calc-em(45);
	}

	.embed-responsive-16by9:before {
		display: block;
		content: "";
		padding-top: 56.25%;
	}

	.blog-carousel__image:before {
		padding-top: 10.9375em;
	}
	
	@screen lg {
		.blog-carousel__image:before {
			padding-top: 18.0625em;
		}
	}

	.blog-back-to-top {
		position: fixed;
		bottom: calc-em(20);
		right: calc-em(15);
		cursor: pointer;
		z-index: 1000;
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.4s ease-in, visibility 0.4s ease-in;
	
		@screen lg {
			right: calc-em(40);
		}
	
		&:hover {
			@apply text-primary;
		}
	
		&.btn--show {
			opacity: 1;
			visibility: visible;
		}
		
		.svg {
			font-size: calc-em(40);
		}

		.svg path {
			fill: currentColor;
		}
	}

	.hover-overlay {
		position: relative;
		&:after {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			transition: background-color .15s ease-in-out;
		}
		&:hover:after {
			background-color: rgba(255, 255, 255, 0.2);
		}
	}
}