.product {

    &-side-article {
        .overflow-hidden {
            @apply pr-g lg:pr-0;
        }
    }

    &__title {
    
        &--additional{
            @apply font-normal relative text-base inline-block text-gray-600 lg:text-lg;
    
            &:before {
                content:" • ";
            }
        }
    }

    &-form {
        .quantity-box {
    
            &__button {
                @apply px-[12.5px];
        
                svg {
                    @apply w-1;
                }

                &-subtract {
                    @apply pl-[2.125rem];
                }
                &-add {
                    @apply pr-[2.125rem]; 
                }
            }
        }
    }

    &__pricing-mb,
    &__pricing-dt {
        @apply hidden;
    }
}

.payment-banner {
    &--item {
        @apply mb-g;
    
        svg {
            @apply h-2;
        }
    }

    &__text {
        @apply text-sm;
    }
}

.proud-to-be-wrapper {
    @apply mt-1 lg:mt-4;
    ul {
        @apply mt-g;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            @apply hidden;
        }
    }
}

.tag-boxes {
    @apply text-sm lg:text-base;
    &__empty {
        @apply mb-0;
    }
}

.product-variant .custom-control-input:checked ~ .custom-control-label {
    @apply border-0;

    .product-swatch {
        @apply flex;
    }
}

.product-form .product-swatch {
    
    .variant-swatch {
        @apply border-t border-b w-auto h-auto me-25 py-[6px] flex-1 basis-auto lg:min-h-4 lg:flex lg:grow-0 lg:items-center lg:justify-end pr-g pl-1 bg-none;

        &:after {
            @apply w-[24px] left-[12.5px] lg:w-3;
        }

        &:before {
            @apply h-[18px] w-[18px] top-auto left-g;

            @screen lg {
                @apply h-[24px] w-[24px];
            }
        }
    }
}

.product-form-submit {
    .quantity-box {
        @apply border-gray-500;
    }

    .product-form-submit__cta {

        &-text,
        &-compare {
            @apply font-normal;
        }

        &-price {
            @apply font-bold;
        }
    }
}

.product-banner__slider {
    // &-wrapper picture {
    //     @apply pt-[12.5em] lg:pt-[31.625em];
    // }
    &-wrapper .img-slider svg {
        @apply h-[.5rem] lg:h-[12px];
    }
    // &--compareimg img {
    //     @apply -mt-[3.4375em];
    // }
    &-arrow {
        @apply p-[.5rem] lg:p-[14px];

        &--left {
            @apply mr-1;
        }
        &--right {
            @apply ml-1;
        }
    }
}

.product__banner {
    @apply mb-4 lg:mb-5;
    
    &--hair-concerns-solutions {
        @apply mb-0;
    }


    &-content div:last-child {
        @apply mb-0
    }
    &-left {
        @apply order-2 lg:order-1 sm:pb-2 text-body px-2;
    }
    &-right {
        @apply order-1;
    }

    h2 {
        @apply text-lg lg:text-2xl;
    }

    &-content > div {
        @apply lg:text-base lg:mb-2;
        b {
            @apply lg:text-lg;
        }
    }
}

.article__carousel {
    @apply hidden;
}

.product__side-article {

    picture {
        @apply aspect-[330/175] lg:aspect-[370/175];

        img {
            height: 100%;
        }
    }

    figcaption {
        @apply px-[.75rem] py-[1rem];

        .badge {
            @apply py-[.25rem] px-[.5rem] text-xs leading-[normal];
        }
        p {
            @apply text-lg mt-[.5rem] font-normal mb-0;
        }

        .post-card__read-more {
            @apply hidden;
        }
    }

    .post-card__description {
        @apply hidden;
    }
    
}

// pdp side upsell
.product-side-upsell {

    &__title {
        @apply mb-g text-center lg:text-left;
    }

    .product-card {

        // a {
        //     @apply bg-pink-light;
        // }

        &__title {
            @apply text-sm;
        }

        .product-title__text {
            @apply lg:min-h-[54px];
        }

        .review-stars__number {
            @apply mb-[.75em];
        }

        &__upsell {
            @apply mb-0;

            picture,
            img {
                @apply mx-auto !max-h-[160px] !left-0 !pt-0 !max-w-[160px] ;
            }
        }

        &__content {
            @apply rounded-b-[24px] pt-0 px-[.5rem];

            .spinner-border {
                @apply text-primary;
            }

            .review-star__v2 {
                @apply text-body;
            }

            // button {
            //     @apply text-primary bg-white border-primary lg:border min-h-[38px] py-0 font-bold;

            //     .product-card-btn__text,
            //     .product-card-btn__prices {
            //         @apply text-sm;
            //     }
                
            //     &:not(.button-overlay) {
            //         @apply lg:mb-[.5rem]
            //     }
            // }
        }

    }

    .carousel__progress {
        @apply my-g;
    }
}

// pdp review
.yotpo-widget__rating-sidebar {
    svg {
        @apply w-[24px] h-[24px]
    }
}

.product__reviews {
    .yotpo-review-tab__total-review,
    .yotpo-review-tab__total-question {
        @apply inline pl-[3px];
    }
    .input-group {
        .input-group-append {
            @apply order-1;

            button {
                @apply bg-gray-400;
            }

            svg {
                @apply fill-dark;
            }
        }
        input {
            @apply order-2 pl-0;
        }
    }

    .review__actions,
    .review__score {
        @apply hidden;
    }

    .review__filter-sidebar {
        @apply w-full lg:w-3/12;

        .input-group {
            @apply w-full;
        }
    }

    .review__question-left {
        @apply block;
    }

    .product__review-list-container,
    .review__question-right {
        @apply w-full lg:w-9/12 lg:pl-g;
    }

    .product__review-list-container > hr,
    .product__reviews-total {
        @apply hidden;
    }
    .review__tab {
        // @apply flex;

        li {
            @apply mr-1 lg:mr-2;
        }

        li > a {
            @apply px-0
        }
    }

    img {
        @apply rounded-[8px]
    }
}

.bfcm-dark-layout {
    .product-side-upsell {

        .product-card {

            &__content {
                button {
                    @apply text-dark bg-white border-dark lg:border min-h-[38px] py-0 font-bold;
                }
            }

        }
    }
}